.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /*fr = fraction, ocupa a linha toda dividido em fraçoes*/
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
}

.card {
    aspect-ratio: 3/4; /*defino a proporção da carta*/
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    position: relative; /*para as faces respeitarem as delimitações da carta*/
    transition: all 400ms ease; /*girar a carta*/
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
}

.face {
    width: 100%;
    height: 100%;
    position: absolute; /*para uma face ficar em cima da outra*/
    background-size: cover;
    background-position: center; 
    border: 2px solid greenyellow;
    border-radius: 5px;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url(../images/graySkullCastle.png);
    backface-visibility: hidden;
}